In [1]:
"""
------------------------------------------------------------------------------
Libraries
------------------------------------------------------------------------------
"""

import pandas as pd
import geopandas as gpd

import matplotlib.pyplot as plt

In [2]:
"""
------------------------------------------------------------------------------
Import data
------------------------------------------------------------------------------
"""

df = pd.read_csv("../data/raw/BFw_district_area_data_2023.csv", dtype={"district_area_id":str})

df.head()

,district_area_id,district_area_name,mission_count_all,mission_count_ems,mission_count_ems_critical,mission_count_ems_critical_cpr,mission_count_fire,mission_count_technical_rescue,mission_count_ems_critical_timegoal_computed,mission_count_fire_timegoal_computed,...,response_time_fire_time_to_first_pump_std,response_time_fire_time_to_first_ladder_mean,response_time_fire_time_to_first_ladder_median,response_time_fire_time_to_first_ladder_std,response_time_fire_time_to_full_crew_mean,response_time_fire_time_to_full_crew_median,response_time_fire_time_to_full_crew_std,response_time_technical_rescue_mean,response_time_technical_rescue_median,response_time_technical_rescue_std
0,11001,Tiergarten Süd,4095,3217,2482,36,328,203,2148,180,...,119.307705,723.367188,708.5,156.104458,810.594444,785.5,167.649898,858.987097,763.0,336.708957
1,11002,Regierungsviertel,4926,4293,3302,21,440,192,2880,273,...,112.810637,748.163435,739.0,158.571149,804.450549,774.0,154.818413,943.845070,864.0,375.820507
2,11003,Alexanderplatz,13833,11716,8844,94,850,479,7773,353,...,134.179541,711.086400,690.0,154.600993,769.657224,727.0,171.581593,954.858790,851.0,422.525274
3,11004,Brunnenstraße Süd,2616,2342,1842,27,138,136,1628,61,...,134.100866,672.830000,626.5,188.550401,740.393443,721.0,141.265858,921.834951,734.0,438.233846
4,12005,Moabit West,5544,5060,3985,43,245,239,3497,55,...,176.778987,732.222222,713.0,165.457514,773.672727,726.0,218.142160,858.494792,810.5,339.256255

In [3]:
df_pgr = pd.read_csv("../data/raw/PGR.csv", dtype={"PGR_ID":str})

df_pgr = df_pgr[["PGR_ID", "PGR_NAME"]]

df_pgr = df_pgr.rename(columns={"PGR_ID": "pgr_area_id", "PGR_NAME": "PGR_NAME"})

df_pgr.head()

  pgr_area_id                   PGR_NAME
0        0930         Treptow-Köpenick 3
1        0760  Marienfelde / Lichtenrade
2        0920         Treptow-Köpenick 2
3        0220              Kreuzberg Süd
4        1260         Märkisches Viertel

In [4]:
#add missing 0 in district_area_id
df["district_area_id"] = df["district_area_id"].str.zfill(6)

df.head(50)

,district_area_id,district_area_name,mission_count_all,mission_count_ems,mission_count_ems_critical,mission_count_ems_critical_cpr,mission_count_fire,mission_count_technical_rescue,mission_count_ems_critical_timegoal_computed,mission_count_fire_timegoal_computed,...,response_time_fire_time_to_first_pump_std,response_time_fire_time_to_first_ladder_mean,response_time_fire_time_to_first_ladder_median,response_time_fire_time_to_first_ladder_std,response_time_fire_time_to_full_crew_mean,response_time_fire_time_to_full_crew_median,response_time_fire_time_to_full_crew_std,response_time_technical_rescue_mean,response_time_technical_rescue_median,response_time_technical_rescue_std
0,011001,Tiergarten Süd,4095,3217,2482,36,328,203,2148,180,...,119.307705,723.367188,708.5,156.104458,810.594444,785.5,167.649898,858.987097,763.0,336.708957
1,011002,Regierungsviertel,4926,4293,3302,21,440,192,2880,273,...,112.810637,748.163435,739.0,158.571149,804.450549,774.0,154.818413,943.845070,864.0,375.820507
2,011003,Alexanderplatz,13833,11716,8844,94,850,479,7773,353,...,134.179541,711.086400,690.0,154.600993,769.657224,727.0,171.581593,954.858790,851.0,422.525274
3,011004,Brunnenstraße Süd,2616,2342,1842,27,138,136,1628,61,...,134.100866,672.830000,626.5,188.550401,740.393443,721.0,141.265858,921.834951,734.0,438.233846
4,012005,Moabit West,5544,5060,3985,43,245,239,3497,55,...,176.778987,732.222222,713.0,165.457514,773.672727,726.0,218.142160,858.494792,810.5,339.256255
5,012006,Moabit Ost,8596,7883,5980,63,465,247,5249,246,...,179.760703,715.315186,698.0,173.471348,762.544715,758.0,124.744065,876.388889,803.0,390.110287
6,013007,Osloer Straße,5176,4553,3689,49,179,198,3232,45,...,156.776911,766.978947,756.0,139.254090,751.288889,734.0,132.075327,875.914286,794.0,335.571873
7,013008,Brunnenstraße Nord,6259,5693,4557,61,276,290,4056,73,...,180.640796,686.627329,683.0,153.794539,758.821918,746.0,176.771772,907.313084,722.0,455.300716
8,014009,Parkviertel,7977,6341,5180,68,268,244,4658,73,...,186.339320,783.943262,778.0,152.499966,801.739726,797.0,175.470085,867.314136,798.0,366.399373
9,014010,Wedding Zentrum,8105,7324,5937,88,256,303,5218,64,...,184.636000,751.496503,723.0,192.043454,768.531250,717.0,221.097190,870.195556,734.0,406.810522
10,021001,Südliche Friedrichstadt,7295,6469,5089,54,440,385,4481,132,...,143.189693,713.152610,711.0,125.987010,793.189394,770.0,137.352176,819.142857,685.0,366.164121
11,022002,Tempelhofer Vorstadt,8163,6958,5551,78,361,329,4837,90,...,148.250928,721.618090,689.0,147.077609,766.700000,743.5,123.673315,820.550420,696.5,365.116194
12,023003,Nördliche Luisenstadt,3317,3073,2407,38,113,131,2083,25,...,131.097847,707.963636,681.0,196.007649,639.920000,592.0,123.472980,846.357895,734.0,416.225361
13,023004,Südliche Luisenstadt,3487,3195,2462,36,152,140,2100,27,...,176.001462,743.569231,693.0,203.215170,753.000000,748.0,153.595373,842.057692,791.5,381.709284
14,024005,Karl-Marx-Allee Nord,3697,2929,2389,34,130,127,2119,39,...,120.727818,719.951220,717.5,155.345644,805.384615,729.0,232.629773,932.034091,839.0,393.069046
15,024006,Karl-Marx-Allee Süd,5427,5005,3792,45,250,171,3331,108,...,168.853377,727.245161,681.0,200.975522,782.851852,747.0,174.872333,991.703390,961.0,444.636840
16,025007,Frankfurter Allee Nord,2848,2631,2084,19,107,110,1827,32,...,145.235124,712.129630,669.5,163.493817,777.843750,742.0,195.464065,924.964706,837.0,334.210813
17,025008,Frankfurter Allee Süd FK,6298,5781,4464,42,289,227,3902,73,...,183.197409,707.119048,694.0,166.769367,797.000000,761.0,259.601404,923.098684,737.5,450.014007
18,031001,Buch,2867,2410,1923,19,87,99,1486,20,...,167.183526,822.717391,799.5,155.353742,955.750000,925.5,169.981075,931.674419,927.0,290.589771
19,032002,Blankenfelde/Niederschönhausen,2789,2599,2113,33,85,104,1815,19,...,246.380232,831.205882,795.0,209.568211,822.000000,788.0,205.056632,823.916667,784.0,326.566540
20,032003,Buchholz,1732,1645,1375,27,37,49,1222,6,...,144.389208,889.571429,834.0,301.067515,1120.833333,977.0,378.812575,867.555556,727.0,462.127716
21,033004,Karow,1642,1561,1273,17,37,44,1035,6,...,104.414458,846.461538,846.0,197.969533,809.000000,820.5,141.766004,866.454545,759.5,312.782250
22,033005,Blankenburg/Heinersdorf/Märchenland,2248,2081,1685,27,64,103,1507,14,...,184.977592,795.343750,734.0,282.573954,897.357143,830.0,237.791637,906.507937,835.0,384.631700
23,034006,Schönholz/Wilhelmsruh/Rosenthal,1967,1843,1497,33,58,66,1280,15,...,148.609588,835.960000,881.0,199.279636,884.266667,857.0,176.212318,838.238095,722.0,287.146500
24,034007,Pankow Zentrum,4186,3552,2906,38,126,167,2586,30,...,147.102942,793.626667,776.0,186.296391,817.133333,772.0,247.992733,880.311828,755.0,428.319034
25,034008,Pankow Süd,3743,3432,2833,36,134,177,2526,20,...,160.748047,753.184211,722.5,226.606602,751.700000,688.5,187.754066,942.174312,970.0,396.161019
26,035009,Weißensee,4268,3657,2916,33,134,230,2636,21,...,141.114383,664.807229,658.0,164.001819,916.142857,940.0,215.876883,725.172185,640.0,301.745274
27,035010,Weißensee Ost,2475,2173,1764,27,81,83,1615,28,...,236.886654,720.980769,705.0,231.084102,919.500000,896.0,238.276761,828.203390,696.0,351.553782
28,036011,Prenzlauer Berg Nordwest,2501,2230,1766,25,130,139,1574,19,...,169.803889,738.017241,741.0,156.126185,766.473684,766.0,127.049146,936.653846,891.0,404.329164
29,036012,Prenzlauer Berg Nord,2675,2434,2011,23,114,126,1795,26,...,128.511559,746.076923,738.5,164.493143,782.115385,765.5,137.996616,857.426829,788.5,325.620131
30,036013,Helmholtzplatz,1428,1272,969,8,64,92,861,8,...,128.037271,660.148148,620.0,154.322515,742.125000,736.0,74.012427,921.217391,854.0,373.443155
31,036014,Prenzlauer Berg Ost,4243,3898,3083,44,181,164,2740,51,...,176.500440,756.763441,726.0,189.857979,795.117647,751.0,162.688125,970.219512,940.0,353.936216
32,037015,Prenzlauer Berg Südwest,2464,2260,1762,15,109,94,1536,30,...,138.244534,669.671642,672.0,182.855166,727.133333,728.5,105.220862,931.289855,781.0,438.988212
33,037016,Prenzlauer Berg Süd,2463,2232,1810,25,98,132,1614,21,...,137.360112,698.275862,665.5,174.545404,694.190476,692.0,106.119564,901.647059,861.5,357.974545
34,041001,Charlottenburg Nord,3142,2890,2370,33,110,140,2095,19,...,226.196056,761.708333,728.5,196.035815,830.947368,810.0,103.538760,940.981818,837.5,333.817480
35,042002,Heerstraße,2614,2320,1803,28,79,77,1568,17,...,207.705747,826.272727,771.0,202.165298,892.529412,860.0,161.156414,1071.188679,977.0,380.021359
36,042003,Westend,4630,3796,3138,42,133,207,2767,34,...,147.633450,757.376623,745.0,195.341943,801.882353,776.5,137.772488,939.538462,873.0,407.367429
37,043004,Schloss Charlottenburg,5533,4892,3912,47,193,248,3480,37,...,162.945919,708.381443,698.0,179.284890,777.054054,756.0,162.633184,850.020513,769.0,364.708978
38,043005,Mierendorffplatz,1985,1804,1388,16,94,87,1257,29,...,160.925877,680.392857,660.0,159.741459,740.896552,721.0,167.649793,887.816901,803.0,354.570739
39,043006,Otto-Suhr-Allee/Kantstraße,7202,6526,5314,71,365,311,4705,151,...,134.614224,640.743083,629.0,134.167958,706.397351,679.0,149.075108,825.684685,746.5,318.525193
40,044007,Grunewald,2764,2242,1822,31,82,138,1607,16,...,118.314544,780.152174,758.0,150.412613,743.937500,716.5,118.451379,970.041667,986.5,333.461145
41,044008,Schmargendorf,3916,3692,3049,40,102,120,2697,25,...,133.431326,755.741379,751.0,128.343776,767.640000,765.0,91.054874,962.931034,902.0,397.138772
42,045009,Halensee,3642,3339,2751,39,121,181,2485,49,...,160.159909,661.724138,640.0,129.764965,747.061224,707.0,178.904934,811.592000,763.0,305.722415
43,045010,Lietzenburger Straße,7653,6807,5362,69,493,353,4629,180,...,113.826293,663.040816,653.0,147.614951,724.683333,712.0,126.582783,747.183206,650.0,342.792562
44,045011,Volkspark Wilmersdorf,5973,5096,4137,59,238,277,3677,68,...,117.347396,654.140351,636.0,142.538511,774.750000,725.5,499.353504,768.403941,698.0,331.770191
45,051001,Hakenfelde,3875,3581,2948,46,125,124,2573,17,...,219.744124,768.123288,694.0,203.073669,961.588235,816.0,306.336020,1085.247059,913.0,435.376326
46,051002,Falkenhagener Feld,5613,4829,4000,61,151,186,3405,28,...,165.942652,848.058824,812.0,211.880714,899.214286,866.0,144.904913,999.588710,928.0,332.700652
47,051003,Spandau Mitte,6572,5838,4697,64,216,241,4168,38,...,130.163464,675.264151,604.0,225.569472,798.947368,774.0,178.449924,929.639535,748.0,433.263676
48,052004,Brunsbütteler Damm,2624,2440,2018,31,103,81,1683,26,...,151.507632,844.517857,817.5,163.242707,920.576923,860.0,197.234109,1073.541667,995.5,338.196717
49,052005,Heerstraße,3813,3526,2929,36,140,147,2539,43,...,159.929003,757.614286,702.0,173.711680,956.976744,891.0,203.081205,976.100000,877.0,355.820222

In [5]:
df["pgr_area_id"] = df["district_area_id"].astype(str).str[:4]

In [6]:
"""
------------------------------------------------------------------------------
mission_count_all:
Dies ist die Gesamtanzahl aller Einsätze, die die Feuerwehr in einem bestimmten 
Zeitraum durchgeführt hat. Es umfasst alle Arten von Einsätzen, also Notfalleinsätze, 
Feuerwehreinsätze, technische Rettungen usw.

mission_count_ems:
Diese Zahl gibt die Anzahl der Notfalleinsätze (Emergency Medical Services, EMS) an. 
EMS-Einsätze umfassen medizinische Notfälle, bei denen die Feuerwehr medizinische Hilfe leisten muss, 
aber nicht unbedingt bei einem Brand oder einer technischen Rettung beteiligt ist.

mission_count_ems_critical:
Dies zeigt die Anzahl der kritischen Notfalleinsätze innerhalb der EMS-Einsätze an. 
Kritische EMS-Einsätze sind besonders dringende medizinische Notfälle, bei denen eine schnelle 
Reaktion erforderlich ist, um das Leben der betroffenen Personen zu retten.

mission_count_ems_critical_cpr:
Diese Zahl bezieht sich auf die Anzahl der kritischen EMS-Einsätze, bei denen eine 
Herz-Lungen-Wiederbelebung (CPR) durchgeführt wurde. Diese Einsätze sind besonders dringend, 
da sie häufig mit einem Herzstillstand oder schwerwiegenden Atemproblemen verbunden sind.

mission_count_fire:
Dies ist die Anzahl der Feuerwehreinsätze. Diese Kategorie umfasst Einsätze, 
bei denen die Feuerwehr tätig wird, um Brände zu bekämpfen oder Brandgefahren zu bewältigen.

mission_count_technical_rescue:
Diese Zahl gibt die Anzahl der technischen Rettungseinsätze an. Technische Rettungen umfassen 
spezielle Rettungsaktionen, die nicht direkt mit Bränden oder medizinischen Notfällen zu tun haben, 
wie z.B. Rettungen aus Höhenlagen, Fahrzeugbergungen oder das Befreien von Personen aus 
eingeklemmten Situationen.

Mission Count EMS Critical Timegoal Computed: 
Anzahl der kritischen Notfalleinsätze, bei denen die Reaktionszeitvorgaben 
eingehalten wurden.

Mission Count Fire Timegoal Computed: 
Anzahl der Feuerwehreinsätze, bei denen die Reaktionszeitvorgaben eingehalten wurden.
------------------------------------------------------------------------------
"""

'\n------------------------------------------------------------------------------\nmission_count_all:\nDies ist die Gesamtanzahl aller Einsätze, die die Feuerwehr in einem bestimmten \nZeitraum durchgeführt hat. Es umfasst alle Arten von Einsätzen, also Notfalleinsätze, \nFeuerwehreinsätze, technische Rettungen usw.\n\nmission_count_ems:\nDiese Zahl gibt die Anzahl der Notfalleinsätze (Emergency Medical Services, EMS) an. \nEMS-Einsätze umfassen medizinische Notfälle, bei denen die Feuerwehr medizinische Hilfe leisten muss, \naber nicht unbedingt bei einem Brand oder einer technischen Rettung beteiligt ist.\n\nmission_count_ems_critical:\nDies zeigt die Anzahl der kritischen Notfalleinsätze innerhalb der EMS-Einsätze an. \nKritische EMS-Einsätze sind besonders dringende medizinische Notfälle, bei denen eine schnelle \nReaktion erforderlich ist, um das Leben der betroffenen Personen zu retten.\n\nmission_count_ems_critical_cpr:\nDiese Zahl bezieht sich auf die Anzahl der kritischen EMS-Einsätze, bei denen eine \nHerz-Lungen-Wiederbelebung (CPR) durchgeführt wurde. Diese Einsätze sind besonders dringend, \nda sie häufig mit einem Herzstillstand oder schwerwiegenden Atemproblemen verbunden sind.\n\nmission_count_fire:\nDies ist die Anzahl der Feuerwehreinsätze. Diese Kategorie umfasst Einsätze, \nbei denen die Feuerwehr tätig wird, um Brände zu bekämpfen oder Brandgefahren zu bewältigen.\n\nmission_count_technical_rescue:\nDiese Zahl gibt die Anzahl der technischen Rettungseinsätze an. Technische Rettungen umfassen \nspezielle Rettungsaktionen, die nicht direkt mit Bränden oder medizinischen Notfällen zu tun haben, \nwie z.B. Rettungen aus Höhenlagen, Fahrzeugbergungen oder das Befreien von Personen aus \neingeklemmten Situationen.\n\nMission Count EMS Critical Timegoal Computed: \nAnzahl der kritischen Notfalleinsätze, bei denen die Reaktionszeitvorgaben \neingehalten wurden.\n\nMission Count Fire Timegoal Computed: \nAnzahl der Feuerwehreinsätze, bei denen die Reaktionszeitvorgaben eingehalten wurden.\n------------------------------------------------------------------------------\n'

In [7]:
"""
------------------------------------------------------------------------------
Subset
- mission_count_all
- mission_count_ems
- mission_count_ems_critical
- mission_count_fire
- mission_count_technical_rescue
- Mission Count EMS Critical Timegoal Computed
- Mission Count Fire Timegoal Computed
------------------------------------------------------------------------------
"""

list = ["mission_count_all", "mission_count_ems", "mission_count_ems_critical", "mission_count_fire", "mission_count_technical_rescue", "mission_count_ems_critical_timegoal_computed", "mission_count_fire_timegoal_computed"]

df_timegoal = df[["pgr_area_id", "mission_count_all", "mission_count_ems", "mission_count_ems_critical", "mission_count_fire", "mission_count_technical_rescue", "mission_count_ems_critical_timegoal_computed", "mission_count_fire_timegoal_computed"]]
#group by pgr_area_id" and aggregate values
df_timegoal = df_timegoal.groupby("pgr_area_id")[list].sum().reset_index()

df_timegoal.head()

,pgr_area_id,mission_count_all,mission_count_ems,mission_count_ems_critical,mission_count_fire,mission_count_technical_rescue,mission_count_ems_critical_timegoal_computed,mission_count_fire_timegoal_computed
0,0110,25470,21568,16470,1756,1010,14429,867
1,0120,14140,12943,9965,710,486,8746,301
2,0130,11435,10246,8246,455,488,7288,118
3,0140,16082,13665,11117,524,547,9876,137
4,0210,7295,6469,5089,440,385,4481,132

In [8]:
"""
------------------------------------------------------------------------------
Merge
------------------------------------------------------------------------------
"""

timegoal_pgr = pd.merge(df_timegoal, df_pgr, on= "pgr_area_id", how="left")

timegoal_pgr.head()

,pgr_area_id,mission_count_all,mission_count_ems,mission_count_ems_critical,mission_count_fire,mission_count_technical_rescue,mission_count_ems_critical_timegoal_computed,mission_count_fire_timegoal_computed,PGR_NAME
0,0110,25470,21568,16470,1756,1010,14429,867,Zentrum
1,0120,14140,12943,9965,710,486,8746,301,Moabit
2,0130,11435,10246,8246,455,488,7288,118,Gesundbrunnen
3,0140,16082,13665,11117,524,547,9876,137,Wedding
4,0210,7295,6469,5089,440,385,4481,132,Kreuzberg Nord

In [9]:
timegoal_pgr.isna().sum()

pgr_area_id                                     0
mission_count_all                               0
mission_count_ems                               0
mission_count_ems_critical                      0
mission_count_fire                              0
mission_count_technical_rescue                  0
mission_count_ems_critical_timegoal_computed    0
mission_count_fire_timegoal_computed            0
PGR_NAME                                        0
dtype: int64

In [10]:
timegoal_pgr.dtypes

pgr_area_id                                     object
mission_count_all                                int64
mission_count_ems                                int64
mission_count_ems_critical                       int64
mission_count_fire                               int64
mission_count_technical_rescue                   int64
mission_count_ems_critical_timegoal_computed     int64
mission_count_fire_timegoal_computed             int64
PGR_NAME                                        object
dtype: object

In [11]:
#all mission calls including ems + fire + technical rescue
timegoal_pgr["mission_ems_fire_technical"] = timegoal_pgr["mission_count_ems"] + timegoal_pgr["mission_count_fire"] + timegoal_pgr["mission_count_technical_rescue"]

#add column mission_ems_fire_technical on fourth position
columns = ["pgr_area_id", "PGR_NAME", "mission_count_all", "mission_ems_fire_technical", "mission_count_ems", "mission_count_ems_critical", "mission_count_fire", "mission_count_technical_rescue", "mission_count_ems_critical_timegoal_computed", "mission_count_fire_timegoal_computed"]
timegoal_pgr = timegoal_pgr[columns]

timegoal_pgr.head()

,pgr_area_id,PGR_NAME,mission_count_all,mission_ems_fire_technical,mission_count_ems,mission_count_ems_critical,mission_count_fire,mission_count_technical_rescue,mission_count_ems_critical_timegoal_computed,mission_count_fire_timegoal_computed
0,0110,Zentrum,25470,24334,21568,16470,1756,1010,14429,867
1,0120,Moabit,14140,14139,12943,9965,710,486,8746,301
2,0130,Gesundbrunnen,11435,11189,10246,8246,455,488,7288,118
3,0140,Wedding,16082,14736,13665,11117,524,547,9876,137
4,0210,Kreuzberg Nord,7295,7294,6469,5089,440,385,4481,132

In [12]:
"""
------------------------------------------------------------------------------
percent time goal reached
------------------------------------------------------------------------------
"""
#timegoal reached ems critical / all mission counts ems critical
timegoal_pgr["percent_timegoal_ems_critical"] = (timegoal_pgr["mission_count_ems_critical_timegoal_computed"] / timegoal_pgr["mission_count_ems_critical"]).round(3) *100 
#timegoal reached fire / all mission counts fire
timegoal_pgr["percent_timegoal_fire"] = (timegoal_pgr["mission_count_fire_timegoal_computed"] / timegoal_pgr["mission_count_fire"]).round(3) *100

In [13]:
timegoal_pgr.head()

,pgr_area_id,PGR_NAME,mission_count_all,mission_ems_fire_technical,mission_count_ems,mission_count_ems_critical,mission_count_fire,mission_count_technical_rescue,mission_count_ems_critical_timegoal_computed,mission_count_fire_timegoal_computed,percent_timegoal_ems_critical,percent_timegoal_fire
0,0110,Zentrum,25470,24334,21568,16470,1756,1010,14429,867,87.6,49.4
1,0120,Moabit,14140,14139,12943,9965,710,486,8746,301,87.8,42.4
2,0130,Gesundbrunnen,11435,11189,10246,8246,455,488,7288,118,88.4,25.9
3,0140,Wedding,16082,14736,13665,11117,524,547,9876,137,88.8,26.1
4,0210,Kreuzberg Nord,7295,7294,6469,5089,440,385,4481,132,88.1,30.0

In [14]:
#min max values

#ems critical
timegoal_pgr["percent_timegoal_ems_critical"].min()

74.2

In [15]:
timegoal_pgr["percent_timegoal_ems_critical"].max()

92.4

In [16]:
#fire
timegoal_pgr["percent_timegoal_fire"].min()

11.799999999999999

In [17]:
timegoal_pgr[timegoal_pgr["percent_timegoal_fire"] == 11.799999999999999
]

,pgr_area_id,PGR_NAME,mission_count_all,mission_ems_fire_technical,mission_count_ems,mission_count_ems_critical,mission_count_fire,mission_count_technical_rescue,mission_count_ems_critical_timegoal_computed,mission_count_fire_timegoal_computed,percent_timegoal_ems_critical,percent_timegoal_fire
55,1240,Grüner Norden,6008,5742,5395,4471,102,245,3791,12,84.8,11.8

In [18]:
timegoal_pgr["percent_timegoal_fire"].max()

49.4

In [19]:
df_timegoal_pgr = timegoal_pgr[["pgr_area_id", "PGR_NAME", "percent_timegoal_ems_critical", "percent_timegoal_fire"]]

df_timegoal_pgr.head()

,pgr_area_id,PGR_NAME,percent_timegoal_ems_critical,percent_timegoal_fire
0,0110,Zentrum,87.6,49.4
1,0120,Moabit,87.8,42.4
2,0130,Gesundbrunnen,88.4,25.9
3,0140,Wedding,88.8,26.1
4,0210,Kreuzberg Nord,88.1,30.0

In [20]:
#Data frame
#df_timegoal_pgr.to_csv("EMS_Fire_timegoal_byAdminArea.csv", index=False)