In [14]:
"""
------------------------------------------------------------------------------
Libraries
------------------------------------------------------------------------------
"""

import pandas as pd
import geopandas as gpd

import matplotlib.pyplot as plt

In [15]:
"""
------------------------------------------------------------------------------
import data
------------------------------------------------------------------------------
"""

df_1 = pd.read_csv("../data/csv/adminAreakm2.csv")

df_1.head()

   pgr_id                 pgr_name  area_km2
0     640  Zehlendorf Nord/Wannsee     62.46
1     950       Treptow-Köpenick 5     46.22
2     940       Treptow-Köpenick 4     44.42
3    1240            Grüner Norden     42.74
4     930       Treptow-Köpenick 3     40.67

In [16]:
df_2 = pd.read_csv("../data/csv/airquality.csv")

df_2.head()

   pgr_id                 pgr_name  mean_no2  mean_pm25
0     540           Gatow / Kladow     10.11       9.61
1     640  Zehlendorf Nord/Wannsee     10.88       9.62
2     420      Charlottenburg West     12.21       9.80
3     950       Treptow-Köpenick 5     10.24       9.87
4     310                     Buch     11.37       9.95

In [17]:
df_3 = pd.read_csv("../data/csv/buildingMaxAgeGroup.csv")

df_3.head()

,pgr_id,pgr_name,max_ageGroup,totalBuildings,max_ageGroupPercent
0,1020,Hellersdorf,"('x1981_1990', 2882)",3416,84.4
1,830,Gropiusstadt,"('x1961_1970', 690)",864,79.9
2,230,Kreuzberg Ost,"('x_bis_1900', 1056)",1875,56.3
3,220,Kreuzberg Süd,"('x_bis_1900', 1422)",2613,54.4
4,1110,Hohenschönhausen Nord,"('x1981_1990', 1458)",3065,47.6

In [18]:
df_4 = pd.read_csv("../data/csv/sealingArea.csv")

df_4.head()

   pgr_id                 pgr_name  total_sealing_area
0     940       Treptow-Köpenick 4                   9
1     310                     Buch                  11
2     640  Zehlendorf Nord/Wannsee                  15
3     540           Gatow / Kladow                  15
4     950       Treptow-Köpenick 5                  15

In [19]:
df_5 = pd.read_csv("../data/csv/fastFoodIHK.csv")

df_5.head()

   pgr_id             pgr_name  no_Imbiss
0     810             Neukölln        400
1     110              Zentrum        355
2     250   Friedrichshain Ost        222
3     450  Wilmersdorf Zentrum        200
4     120               Moabit        200

In [20]:
df_6 = pd.read_csv("../data/csv/femaleStreetNames.csv")

df_6.head()

,pgr_id,pgr_name,unique_f_streets,unique_m_streets,unique_streets_count,fStreets_percent
0,110,Zentrum,49,166,215,22.8
1,120,Moabit,22,63,85,25.9
2,630,Zehlendorf Süd/Lichterfelde West,17,133,150,11.3
3,430,Charlottenburg Zentrum,16,124,140,11.4
4,1020,Hellersdorf,16,30,46,34.8

In [21]:
df_7 = pd.read_csv("../data/csv/numberOfTrees.csv")

df_7.head()

   pgr_id                 pgr_name  treeCount
0     640  Zehlendorf Nord/Wannsee      41806
1    1010                  Marzahn      38041
2    1240            Grüner Norden      37651
3     110                  Zentrum      30137
4     510     Spandau Mitte / Nord      28415

In [22]:
df_8 = pd.read_csv("../data/csv/populationBerlin2024.csv")

df_8.head()

   pgr_id              pgr_name  population
0     810              Neukölln      162700
1     110               Zentrum      124331
2    1010               Marzahn      118714
3     450   Wilmersdorf Zentrum      118420
4     510  Spandau Mitte / Nord      112355

In [23]:
df_9 = pd.read_csv("../data/csv/responseTimeEMS.csv")

df_9.head()

,pgr_id,pgr_name,response_time_ems_critical_mean,response_time_ems_critical_std,response_time_fire_time_to_first_pump_mean,response_time_fire_time_to_first_pump_std
0,230,Kreuzberg Ost,8.978333,3.240000,9.206667,2.681667
1,240,Friedrichshain West,9.146667,2.950000,9.340000,2.625000
2,720,Schöneberg Süd,9.305000,3.071250,8.753750,1.896250
3,450,Wilmersdorf Zentrum,9.309444,3.093889,9.101111,2.321111
4,210,Kreuzberg Nord,9.321667,3.090000,9.045000,2.540000

In [24]:
df_10 = pd.read_csv("../data/csv/solarPotential.csv")

df_10.head()

   pgr_id                   pgr_name  total_anual_yield_gwh
0     110                    Zentrum                    303
1     760  Marienfelde / Lichtenrade                    279
2     510       Spandau Mitte / Nord                    233
3     520     Wilhelmstadt / Staaken                    227
4     810                   Neukölln                    220

In [25]:
"""
------------------------------------------------------------------------------
Merge
------------------------------------------------------------------------------
"""

dfs = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10]

merged_df = dfs[0] 
#merge loop
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=["pgr_id", "pgr_name"], how="outer")

merged_df.head()

,pgr_id,pgr_name,area_km2,mean_no2,mean_pm25,max_ageGroup,totalBuildings,max_ageGroupPercent,total_sealing_area,no_Imbiss,...,unique_m_streets,unique_streets_count,fStreets_percent,treeCount,population,response_time_ems_critical_mean,response_time_ems_critical_std,response_time_fire_time_to_first_pump_mean,response_time_fire_time_to_first_pump_std,total_anual_yield_gwh
0,110,Zentrum,15.84,18.56,11.13,"('x_bis_1900', 1391)",4225,32.9,65,355,...,166,215,22.8,30137,124331,9.565000,3.223750,9.673125,1.981875,303
1,120,Moabit,8.22,18.63,11.02,"('x_bis_1900', 885)",2920,30.3,67,200,...,63,85,25.9,10307,89877,9.706154,3.130769,9.370000,2.480000,176
2,130,Gesundbrunnen,5.68,16.96,11.36,"('x_bis_1900', 441)",2587,17.0,64,150,...,36,38,5.3,8459,78592,10.094286,3.271429,9.698571,2.581429,101
3,140,Wedding,9.63,16.68,10.99,"('x1901_1910', 835)",3873,21.6,48,187,...,39,40,2.5,14180,102856,9.651538,3.403077,9.246154,2.373077,136
4,210,Kreuzberg Nord,2.94,17.69,11.37,"('x1971_1980', 219)",1039,21.1,67,89,...,36,41,12.2,5863,41369,9.321667,3.090000,9.045000,2.540000,57

In [26]:
#csv
merged_df.to_csv("../data/csv/supertrumpf.csv", index=False)