In [3]:
"""
------------------------------------------------------------------------------
Libraries
------------------------------------------------------------------------------
"""

import pandas as pd
import geopandas as gpd

import matplotlib.pyplot as plt

In [4]:
"""
------------------------------------------------------------------------------
import data
------------------------------------------------------------------------------
"""

df_1 = pd.read_csv("../data/csv/adminAreakm2.csv")

df_1.head()

   pgr_id                 pgr_name  Area_km2
0     640  Zehlendorf Nord/Wannsee     62.46
1     950       Treptow-Köpenick 5     46.22
2     940       Treptow-Köpenick 4     44.42
3    1240            Grüner Norden     42.74
4     930       Treptow-Köpenick 3     40.67

In [5]:
df_2 = pd.read_csv("../data/csv/airquality.csv")

df_2.head()

   pgr_id                   pgr_name  Mean_no2  Mean_pm25
0     830               Gropiusstadt     14.61      11.54
1     370  Südlicher Prenzlauer Berg     18.48      11.45
2     250         Friedrichshain Ost     16.57      11.41
3     710            Schöneberg Nord     17.02      11.41
4     340           Südliches Pankow     15.24      11.40

In [6]:
df_3 = pd.read_csv("../data/csv/buildingMaxAgeGroup.csv")

df_3.head()

,pgr_id,pgr_name,max_age_group,total_buildings,Percent
0,1020,Hellersdorf,"('x1981_1990', 2882)",3416,84.4
1,830,Gropiusstadt,"('x1961_1970', 690)",864,79.9
2,230,Kreuzberg Ost,"('x_bis_1900', 1056)",1875,56.3
3,220,Kreuzberg Süd,"('x_bis_1900', 1422)",2613,54.4
4,1110,Hohenschönhausen Nord,"('x1981_1990', 1458)",3065,47.6

In [7]:
df_4 = pd.read_csv("../data/csv/cannabisFreeArea.csv")

df_4.head()

   pgr_id                   pgr_name  Cannabis_free_m2  Cannabis_free_perc
0     830               Gropiusstadt           2146826                80.8
1     230              Kreuzberg Ost           2128478                77.1
2     210             Kreuzberg Nord           2258290                76.8
3    1020                Hellersdorf           6116720                75.3
4     370  Südlicher Prenzlauer Berg           2265345                74.8

In [9]:
df_5 = pd.read_csv("../data/csv/fastFoodIHK.csv")

df_5.head()

   pgr_id         Prognoseraum  No_Imbiss
0     810             Neukölln        400
1     110              Zentrum        355
2     250   Friedrichshain Ost        222
3     450  Wilmersdorf Zentrum        200
4     120               Moabit        200

In [10]:
df_6 = pd.read_csv("../data/csv/femaleStreetNames.csv")

df_6.head()

,pgr_id,pgr_name,unique_f_streets,unique_m_streets,unique_streets_count,f_percent
0,110,Zentrum,49,166,215,22.8
1,120,Moabit,22,63,85,25.9
2,630,Zehlendorf Süd/Lichterfelde West,17,133,150,11.3
3,430,Charlottenburg Zentrum,16,124,140,11.4
4,1020,Hellersdorf,16,30,46,34.8

In [11]:
df_7 = pd.read_csv("../data/csv/numberOfTrees.csv")

df_7.head()

   pgr_id                 pgr_name  tree_count
0     640  Zehlendorf Nord/Wannsee       41806
1    1010                  Marzahn       38041
2    1240            Grüner Norden       37651
3     110                  Zentrum       30137
4     510     Spandau Mitte / Nord       28415

In [12]:
df_8 = pd.read_csv("../data/csv/populationBerlin2024.csv")

df_8.head()

   pgr_id              pgr_name  Einwohnerzahl
0     810              Neukölln         162700
1     110               Zentrum         124331
2    1010               Marzahn         118714
3     450   Wilmersdorf Zentrum         118420
4     510  Spandau Mitte / Nord         112355

In [13]:
df_9 = pd.read_csv("../data/csv/responseTimeEMS.csv")

df_9.head()

,pgr_id,pgr_name,response_time_ems_critical_mean,response_time_ems_critical_std,response_time_fire_time_to_first_pump_mean,response_time_fire_time_to_first_pump_std
0,930,Treptow-Köpenick 3,17.36,4.71,13.66,4.03
1,440,Wilmersdorf Süd,15.04,6.11,NaN,NaN
2,940,Treptow-Köpenick 4,14.91,4.44,14.53,5.11
3,930,Treptow-Köpenick 3,14.69,4.00,11.23,1.51
4,330,Nördliches Weißensee,14.57,NaN,11.02,NaN

In [14]:
df_10 = pd.read_csv("../data/csv/solarPotential.csv")

df_10.head()

   pgr_id                   pgr_name  total_anual_yield_kwa
0     110                    Zentrum              302985574
1     760  Marienfelde / Lichtenrade              279482841
2     510       Spandau Mitte / Nord              233246799
3     520     Wilhelmstadt / Staaken              226738687
4     810                   Neukölln              219884036