In [255]:
"""
------------------------------------------------------------------------------
Libraries
------------------------------------------------------------------------------
"""

import pandas as pd
import geopandas as gpd

import matplotlib.pyplot as plt

In [256]:
"""
------------------------------------------------------------------------------
import data
------------------------------------------------------------------------------
"""

df_1 = pd.read_csv("../data/csv/adminAreakm2.csv")

df_1.head()

len(df_1)

58

In [257]:
df_2 = pd.read_csv("../data/csv/airquality.csv")

df_2.head()

len(df_2)

58

In [258]:
df_3 = pd.read_csv("../data/csv/buildingMaxAgeGroup.csv")

df_3.head()

len(df_3)

58

In [259]:
df_4 = pd.read_csv("../data/csv/cannabisFreeArea.csv")

df_4.head()

len(df_4)

58

In [260]:
df_5 = pd.read_csv("../data/csv/fastFoodIHK.csv")

df_5.head()

len(df_5)

58

In [261]:
df_6 = pd.read_csv("../data/csv/femaleStreetNames.csv")

df_6.head()

len(df_6)

58

In [262]:
df_7 = pd.read_csv("../data/csv/numberOfTrees.csv")

df_7.head()

len(df_7)

58

In [263]:
df_8 = pd.read_csv("../data/csv/populationBerlin2024.csv")

df_8.head()

len(df_8)

58

In [264]:
df_9 = pd.read_csv("../data/csv/responseTimeEMS.csv")

df_9.head()

len(df_9)

58

In [265]:
df_10 = pd.read_csv("../data/csv/solarPotential.csv")

df_10.head()

len(df_10)

58

In [266]:
"""
------------------------------------------------------------------------------
Merge
------------------------------------------------------------------------------
"""

dfs = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10]

merged_df = dfs[0] 
#merge loop
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=["pgr_id", "pgr_name"], how="outer")

merged_df.head()

,pgr_id,pgr_name,area_km2,mean_no2,mean_pm25,max_ageGroup,totalBuildings,max_ageGroupPercent,cannabisFreeArea_m2,cannabisFreeArea_perc,...,unique_m_streets,unique_streets_count,fStreets_percent,treeCount,population,response_time_ems_critical_mean,response_time_ems_critical_std,response_time_fire_time_to_first_pump_mean,response_time_fire_time_to_first_pump_std,total_anual_yield_kwa
0,110,Zentrum,15.84,18.56,11.13,"('x_bis_1900', 1391)",4225,32.9,6299810,39.8,...,166,215,22.8,30137,124331,9.565000,3.223750,9.673125,1.981875,302985574
1,120,Moabit,8.22,18.63,11.02,"('x_bis_1900', 885)",2920,30.3,4037117,49.1,...,63,85,25.9,10307,89877,9.706154,3.130769,9.370000,2.480000,175618599
2,130,Gesundbrunnen,5.68,16.96,11.36,"('x_bis_1900', 441)",2587,17.0,4251517,74.8,...,36,38,5.3,8459,78592,10.094286,3.271429,9.698571,2.581429,100969489
3,140,Wedding,9.63,16.68,10.99,"('x1901_1910', 835)",3873,21.6,4960491,51.5,...,39,40,2.5,14180,102856,9.651538,3.403077,9.246154,2.373077,136258419
4,210,Kreuzberg Nord,2.94,17.69,11.37,"('x1971_1980', 219)",1039,21.1,2258290,76.8,...,36,41,12.2,5863,41369,9.321667,3.090000,9.045000,2.540000,56590113

In [267]:
#csv
merged_df.to_csv("../data/csv/supertrumpf.csv", index=False)