In [59]:
"""
------------------------------------------------------------------------------
Libraries
------------------------------------------------------------------------------
"""

import pandas as pd
import geopandas as gpd

In [60]:
"""
------------------------------------------------------------------------------
import data
------------------------------------------------------------------------------
"""

df = gpd.read_file("../data/raw/Prognoseräume.json")

df.head()

,id,pgr_id,pgr_name,bez,finhalt,stand,geometry
0,c_lor_pgr_2021.0370,0370,Südlicher Prenzlauer Berg,03 - Pankow,3.031117e+06,01.01.2021,"MULTIPOLYGON (((13.41975 52.52555, 13.42016 52..."
1,c_lor_pgr_2021.0220,0220,Kreuzberg Süd,02 - Friedrichshain-Kreuzberg,4.746309e+06,01.01.2021,"MULTIPOLYGON (((13.40772 52.48875, 13.40789 52..."
2,c_lor_pgr_2021.0760,0760,Marienfelde / Lichtenrade,07 - Tempelhof-Schöneberg,1.919254e+07,01.01.2021,"MULTIPOLYGON (((13.35912 52.4199, 13.35902 52...."
3,c_lor_pgr_2021.0520,0520,Wilhelmstadt / Staaken,05 - Spandau,2.301526e+07,01.01.2021,"MULTIPOLYGON (((13.15724 52.50162, 13.15726 52..."
4,c_lor_pgr_2021.0330,0330,Nördliches Weißensee,03 - Pankow,2.222540e+07,01.12.2021,"MULTIPOLYGON (((13.43357 52.58232, 13.43362 52..."

In [61]:
df.columns

Index(['id', 'pgr_id', 'pgr_name', 'bez', 'finhalt', 'stand', 'geometry'], dtype='object')

In [62]:
df["bez"].unique()

array(['03 - Pankow', '02 - Friedrichshain-Kreuzberg',
       '07 - Tempelhof-Schöneberg', '05 - Spandau', '11 - Lichtenberg',
       '10 - Marzahn-Hellersdorf', '09 - Treptow-Köpenick',
       '12 - Reinickendorf', '04 - Charlottenburg-Wilmersdorf',
       '06 - Steglitz-Zehlendorf', '08 - Neukölln', '01 - Mitte'],
      dtype=object)

In [63]:
df["bezirk"] = df["bez"].str.replace(r"^\d+\s*-\s*", "", regex=True)
df = df.drop(columns = ["bez"])
df["bezirk"].unique()

array(['Pankow', 'Friedrichshain-Kreuzberg', 'Tempelhof-Schöneberg',
       'Spandau', 'Lichtenberg', 'Marzahn-Hellersdorf',
       'Treptow-Köpenick', 'Reinickendorf', 'Charlottenburg-Wilmersdorf',
       'Steglitz-Zehlendorf', 'Neukölln', 'Mitte'], dtype=object)

In [64]:
df.head()

,id,pgr_id,pgr_name,finhalt,stand,geometry,bezirk
0,c_lor_pgr_2021.0370,0370,Südlicher Prenzlauer Berg,3.031117e+06,01.01.2021,"MULTIPOLYGON (((13.41975 52.52555, 13.42016 52...",Pankow
1,c_lor_pgr_2021.0220,0220,Kreuzberg Süd,4.746309e+06,01.01.2021,"MULTIPOLYGON (((13.40772 52.48875, 13.40789 52...",Friedrichshain-Kreuzberg
2,c_lor_pgr_2021.0760,0760,Marienfelde / Lichtenrade,1.919254e+07,01.01.2021,"MULTIPOLYGON (((13.35912 52.4199, 13.35902 52....",Tempelhof-Schöneberg
3,c_lor_pgr_2021.0520,0520,Wilhelmstadt / Staaken,2.301526e+07,01.01.2021,"MULTIPOLYGON (((13.15724 52.50162, 13.15726 52...",Spandau
4,c_lor_pgr_2021.0330,0330,Nördliches Weißensee,2.222540e+07,01.12.2021,"MULTIPOLYGON (((13.43357 52.58232, 13.43362 52...",Pankow

In [65]:
df_admin = df[["pgr_id", "bezirk"]]
df_admin.head()

  pgr_id                    bezirk
0   0370                    Pankow
1   0220  Friedrichshain-Kreuzberg
2   0760      Tempelhof-Schöneberg
3   0520                   Spandau
4   0330                    Pankow

In [66]:
df_1 = pd.read_csv("../data/csv/adminAreakm2.csv", dtype={"pgr_id": str})

df_1.head()

  pgr_id                 pgr_name  area_km2
0   0640  Zehlendorf Nord/Wannsee     62.46
1   0950       Treptow-Köpenick 5     46.22
2   0940       Treptow-Köpenick 4     44.42
3   1240            Grüner Norden     42.74
4   0930       Treptow-Köpenick 3     40.67

In [67]:
df_2 = pd.read_csv("../data/csv/airquality.csv", dtype={"pgr_id": str})

df_2.head()

  pgr_id                 pgr_name  mean_no2  mean_pm25
0   0540           Gatow / Kladow     10.11       9.61
1   0640  Zehlendorf Nord/Wannsee     10.88       9.62
2   0420      Charlottenburg West     12.21       9.80
3   0950       Treptow-Köpenick 5     10.24       9.87
4   0310                     Buch     11.37       9.95

In [68]:
df_3 = pd.read_csv("../data/csv/sealingArea.csv", dtype={"pgr_id": str})

df_3.head()

  pgr_id                 pgr_name  total_sealing_area
0   0940       Treptow-Köpenick 4                   9
1   0310                     Buch                  11
2   0640  Zehlendorf Nord/Wannsee                  15
3   0540           Gatow / Kladow                  15
4   0950       Treptow-Köpenick 5                  15

In [69]:
df_4 = pd.read_csv("../data/csv/fastFoodIHK.csv", dtype={"pgr_id": str})

df_4.head()

  pgr_id             pgr_name  no_Imbiss
0   0810             Neukölln        400
1   0110              Zentrum        355
2   0250   Friedrichshain Ost        222
3   0450  Wilmersdorf Zentrum        200
4   0120               Moabit        200

In [70]:
df_5 = pd.read_csv("../data/csv/femaleStreetNames.csv", dtype={"pgr_id": str})

df_5.head()

,pgr_id,pgr_name,unique_f_streets,unique_m_streets,unique_streets_count,fStreets_percent
0,0110,Zentrum,49,166,215,22
1,0120,Moabit,22,63,85,25
2,0630,Zehlendorf Süd/Lichterfelde West,17,133,150,11
3,0430,Charlottenburg Zentrum,16,124,140,11
4,1020,Hellersdorf,16,30,46,34

In [71]:
df_6 = pd.read_csv("../data/csv/populationBerlin2024.csv", dtype={"pgr_id": str})

df_6.head()

  pgr_id              pgr_name  population
0   0810              Neukölln      162700
1   0110               Zentrum      124331
2   1010               Marzahn      118714
3   0450   Wilmersdorf Zentrum      118420
4   0510  Spandau Mitte / Nord      112355

In [72]:
df_7 = pd.read_csv("../data/csv/responseTimeEMS.csv", dtype={"pgr_id": str})

df_7.head()

  pgr_id        pgr_name  ems_critical_mean_min  ems_critical_mean_sec
0   0230   Kreuzberg Ost                      8                     59
1   0110         Zentrum                      9                     34
2   0740       Tempelhof                      9                     57
3   0730       Friedenau                      9                     49
4   0720  Schöneberg Süd                      9                     18

In [73]:
df_8 = pd.read_csv("../data/csv/solarPotential.csv", dtype={"pgr_id": str})

df_8.head()

  pgr_id                   pgr_name  total_anual_yield_gwh
0   0110                    Zentrum                    303
1   0760  Marienfelde / Lichtenrade                    279
2   0510       Spandau Mitte / Nord                    233
3   0520     Wilhelmstadt / Staaken                    227
4   0810                   Neukölln                    220

In [74]:
"""
------------------------------------------------------------------------------
Merge
------------------------------------------------------------------------------
"""

dfs = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8]

merged_df = dfs[0] 
#merge loop
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=["pgr_id", "pgr_name"], how="outer")

#subset
merged_df = merged_df[["pgr_id", "pgr_name", "area_km2", "mean_no2", "total_sealing_area", "no_Imbiss", "fStreets_percent", "population", "ems_critical_mean_min", "ems_critical_mean_sec", "total_anual_yield_gwh"]]
merged_df.head()

,pgr_id,pgr_name,area_km2,mean_no2,total_sealing_area,no_Imbiss,fStreets_percent,population,ems_critical_mean_min,ems_critical_mean_sec,total_anual_yield_gwh
0,0110,Zentrum,15.84,18.56,65,355,22,124331,9,34,303
1,0120,Moabit,8.22,18.63,67,200,25,89877,9,43,176
2,0130,Gesundbrunnen,5.68,16.96,64,150,5,78592,10,5,101
3,0140,Wedding,9.63,16.68,48,187,2,102856,9,39,136
4,0210,Kreuzberg Nord,2.94,17.69,67,89,12,41369,9,19,57

In [75]:
df_admin.head()

  pgr_id                    bezirk
0   0370                    Pankow
1   0220  Friedrichshain-Kreuzberg
2   0760      Tempelhof-Schöneberg
3   0520                   Spandau
4   0330                    Pankow

In [76]:
#merge datasets to add bezirk info
df_supertrumpf = pd.merge(merged_df, df_admin, on=["pgr_id"], how="left")

df_supertrumpf.head()

,pgr_id,pgr_name,area_km2,mean_no2,total_sealing_area,no_Imbiss,fStreets_percent,population,ems_critical_mean_min,ems_critical_mean_sec,total_anual_yield_gwh,bezirk
0,0110,Zentrum,15.84,18.56,65,355,22,124331,9,34,303,Mitte
1,0120,Moabit,8.22,18.63,67,200,25,89877,9,43,176,Mitte
2,0130,Gesundbrunnen,5.68,16.96,64,150,5,78592,10,5,101,Mitte
3,0140,Wedding,9.63,16.68,48,187,2,102856,9,39,136,Mitte
4,0210,Kreuzberg Nord,2.94,17.69,67,89,12,41369,9,19,57,Friedrichshain-Kreuzberg

In [77]:
#rename and reorganize columns for indesign
df_supertrumpf = df_supertrumpf.rename(columns= {"pgr_name":"Ortsteil", "area_km2": "Fläche", "mean_no2": "Luft", "total_sealing_area": "Versiegelung", "no_Imbiss": "Imbisse", "fStreets_percent": "Straßen", "population": "Einwohner", "ems_critical_mean_min": "Min","ems_critical_mean_sec": "Sek", "total_anual_yield_gwh": "Solar", "bezirk": "Bezirk"})

In [78]:
df_supertrumpf = df_supertrumpf[["Bezirk", "Ortsteil", "Fläche", "Einwohner", "Straßen", "Solar", "Luft", "Versiegelung", "Imbisse", "Min", "Sek"]]

df_supertrumpf

,Bezirk,Ortsteil,Fläche,Einwohner,Straßen,Solar,Luft,Versiegelung,Imbisse,Min,Sek
0,Mitte,Zentrum,15.84,124331,22,303,18.56,65,355,9,34
1,Mitte,Moabit,8.22,89877,25,176,18.63,67,200,9,43
2,Mitte,Gesundbrunnen,5.68,78592,5,101,16.96,64,150,10,5
3,Mitte,Wedding,9.63,102856,2,136,16.68,48,187,9,39
4,Friedrichshain-Kreuzberg,Kreuzberg Nord,2.94,41369,12,57,17.69,67,89,9,19
5,Friedrichshain-Kreuzberg,Kreuzberg Süd,4.74,64694,5,98,17.45,65,180,9,41
6,Friedrichshain-Kreuzberg,Kreuzberg Ost,2.76,45865,18,62,16.20,69,198,8,59
7,Friedrichshain-Kreuzberg,Friedrichshain West,4.58,52843,21,71,18.98,58,98,9,9
8,Friedrichshain-Kreuzberg,Friedrichshain Ost,5.37,88095,8,98,16.57,63,222,9,47
9,Pankow,Buch,22.97,17751,14,56,11.37,11,4,10,59
10,Pankow,Nördliches Pankow,26.12,48949,13,148,11.37,25,20,11,59
11,Pankow,Nördliches Weißensee,22.21,37544,14,122,12.57,28,21,11,34
12,Pankow,Südliches Pankow,12.84,95050,13,158,15.24,47,48,10,42
13,Pankow,Südliches Weißensee,7.94,57350,9,125,14.94,51,39,10,18
14,Pankow,Nördlicher Prenzlauer Berg,8.04,108165,9,143,17.32,64,132,10,13
15,Pankow,Südlicher Prenzlauer Berg,3.03,61031,21,72,18.48,72,120,9,57
16,Charlottenburg-Wilmersdorf,Charlottenburg Nord,5.79,19532,7,42,16.50,35,6,11,28
17,Charlottenburg-Wilmersdorf,Charlottenburg West,29.44,41101,7,128,12.21,21,32,11,20
18,Charlottenburg-Wilmersdorf,Charlottenburg Zentrum,9.29,109830,11,194,17.86,69,179,9,38
19,Charlottenburg-Wilmersdorf,Wilmersdorf Süd,11.66,54253,9,110,14.34,39,22,11,22
20,Charlottenburg-Wilmersdorf,Wilmersdorf Zentrum,8.49,118420,6,193,18.35,75,200,9,19
21,Spandau,Spandau Mitte / Nord,33.57,112355,12,233,11.99,26,80,10,22
22,Spandau,Wilhelmstadt / Staaken,23.01,91916,3,227,12.32,36,69,11,11
23,Spandau,Haselhorst / Siemensstadt,10.38,33169,17,165,15.13,48,29,10,32
24,Spandau,Gatow / Kladow,24.88,20051,11,71,10.11,15,6,11,29
25,Steglitz-Zehlendorf,Steglitz,6.78,76193,3,109,16.75,56,48,9,57
26,Steglitz-Zehlendorf,Lankwitz/Lichterfelde Ost,14.93,80660,11,166,13.51,42,37,11,6
27,Steglitz-Zehlendorf,Zehlendorf Süd/Lichterfelde West,18.34,83901,11,214,13.35,44,57,11,5
28,Steglitz-Zehlendorf,Zehlendorf Nord/Wannsee,62.46,69373,4,186,10.88,15,37,11,23
29,Tempelhof-Schöneberg,Schöneberg Nord,2.85,50035,13,65,17.02,73,97,9,46
30,Tempelhof-Schöneberg,Schöneberg Süd,3.36,52977,15,80,17.52,74,102,9,18
31,Tempelhof-Schöneberg,Friedenau,4.60,47038,11,72,17.54,58,57,9,49
32,Tempelhof-Schöneberg,Tempelhof,13.66,67417,6,201,17.81,51,77,9,57
33,Tempelhof-Schöneberg,Mariendorf,9.37,53616,0,133,14.30,48,58,10,22
34,Tempelhof-Schöneberg,Marienfelde / Lichtenrade,19.18,84865,3,279,13.23,45,53,11,46
35,Neukölln,Neukölln,11.70,162700,3,220,18.37,61,400,10,26
36,Neukölln,Britz/Buckow,17.11,74103,2,178,15.17,41,73,11,23
37,Neukölln,Gropiusstadt,2.66,38728,16,38,14.61,48,20,10,48
38,Neukölln,Buckow Nord/Rudow,13.44,53788,32,149,13.92,45,52,10,50
39,Treptow-Köpenick,Treptow-Köpenick 1,17.14,65660,3,129,15.83,37,50,11,19
40,Treptow-Köpenick,Treptow-Köpenick 2,19.19,75237,7,217,14.57,43,65,11,25
41,Treptow-Köpenick,Treptow-Köpenick 3,40.67,59447,17,161,11.39,19,30,12,58
42,Treptow-Köpenick,Treptow-Köpenick 4,44.42,39371,14,81,10.25,9,23,11,41
43,Treptow-Köpenick,Treptow-Köpenick 5,46.22,55720,7,151,10.24,15,39,11,2
44,Marzahn-Hellersdorf,Marzahn,19.53,118714,21,204,14.30,42,54,11,6
45,Marzahn-Hellersdorf,Hellersdorf,8.12,93074,34,94,13.42,45,38,11,27
46,Marzahn-Hellersdorf,Biesdorf,12.40,30989,17,100,13.33,34,13,11,3
47,Marzahn-Hellersdorf,Kaulsdorf/Mahlsdorf,21.73,50124,2,190,12.31,38,15,12,30
48,Lichtenberg,Hohenschönhausen Nord,16.64,65631,31,81,12.12,21,27,11,35
49,Lichtenberg,Hohenschönhausen Süd,9.35,51968,20,130,14.08,53,32,10,43
50,Lichtenberg,Lichtenberg Nord,9.54,78911,5,155,16.09,56,41,10,4
51,Lichtenberg,Lichtenberg Mitte,7.59,80312,18,96,14.99,48,37,11,9
52,Lichtenberg,Lichtenberg Süd,8.98,36309,26,81,12.92,45,4,11,27
53,Reinickendorf,Reinickendorf Ost,7.56,56796,2,126,16.48,52,41,10,29
54,Reinickendorf,Tegel,18.33,60664,7,163,13.73,36,96,10,49
55,Reinickendorf,Grüner Norden,42.74,57337,6,147,11.19,18,29,11,52
56,Reinickendorf,Wittenau/Borsigwalde,15.87,48851,3,165,13.11,36,40,10,40
57,Reinickendorf,Märkisches Viertel,4.78,50548,0,73,13.96,49,29,11,19

In [79]:
#csv
df_supertrumpf.to_csv("../data/csv/supertrumpf.csv", index=False)

In [80]:
#tab-delimited .txt-file
df_supertrumpf.to_csv(f"{"../data/txt/"}supertrumpf.txt", sep= "\t", index=False)