In [14]:
"""
------------------------------------------------------------------------------
Libraries
------------------------------------------------------------------------------
"""

import pandas as pd
import geopandas as gpd

import matplotlib.pyplot as plt

In [15]:
"""
------------------------------------------------------------------------------
import data
------------------------------------------------------------------------------
"""

df_1 = pd.read_csv("../data/csv/adminAreakm2.csv")

df_1.head()

   pgr_id                 pgr_name  area_km2
0     640  Zehlendorf Nord/Wannsee     62.46
1     950       Treptow-Köpenick 5     46.22
2     940       Treptow-Köpenick 4     44.42
3    1240            Grüner Norden     42.74
4     930       Treptow-Köpenick 3     40.67

In [16]:
df_2 = pd.read_csv("../data/csv/airquality.csv")

df_2.head()

   pgr_id                   pgr_name  mean_no2  mean_pm25
0     830               Gropiusstadt     14.61      11.54
1     370  Südlicher Prenzlauer Berg     18.48      11.45
2     250         Friedrichshain Ost     16.57      11.41
3     710            Schöneberg Nord     17.02      11.41
4     340           Südliches Pankow     15.24      11.40

In [17]:
df_3 = pd.read_csv("../data/csv/buildingMaxAgeGroup.csv")

df_3.head()

,pgr_id,pgr_name,max_ageGroup,totalBuildings,max_ageGroupPercent
0,1020,Hellersdorf,"('x1981_1990', 2882)",3416,84.4
1,830,Gropiusstadt,"('x1961_1970', 690)",864,79.9
2,230,Kreuzberg Ost,"('x_bis_1900', 1056)",1875,56.3
3,220,Kreuzberg Süd,"('x_bis_1900', 1422)",2613,54.4
4,1110,Hohenschönhausen Nord,"('x1981_1990', 1458)",3065,47.6

In [18]:
df_4 = pd.read_csv("../data/csv/cannabisFreeArea.csv")

df_4.head()

,pgr_id,pgr_name,cannabisFreeArea_m2,cannabisFreeArea_perc
0,830,Gropiusstadt,2146826,80.8
1,230,Kreuzberg Ost,2128478,77.1
2,210,Kreuzberg Nord,2258290,76.8
3,1020,Hellersdorf,6116720,75.3
4,370,Südlicher Prenzlauer Berg,2265345,74.8

In [19]:
df_5 = pd.read_csv("../data/csv/fastFoodIHK.csv")

df_5.head()

   pgr_id             pgr_name  no_Imbiss
0     810             Neukölln        400
1     110              Zentrum        355
2     250   Friedrichshain Ost        222
3     450  Wilmersdorf Zentrum        200
4     120               Moabit        200

In [20]:
df_6 = pd.read_csv("../data/csv/femaleStreetNames.csv")

df_6.head()

,pgr_id,pgr_name,unique_f_streets,unique_m_streets,unique_streets_count,fStreets_percent
0,110,Zentrum,49,166,215,22.8
1,120,Moabit,22,63,85,25.9
2,630,Zehlendorf Süd/Lichterfelde West,17,133,150,11.3
3,430,Charlottenburg Zentrum,16,124,140,11.4
4,1020,Hellersdorf,16,30,46,34.8

In [21]:
df_7 = pd.read_csv("../data/csv/numberOfTrees.csv")

df_7.head()

   pgr_id                 pgr_name  treeCount
0     640  Zehlendorf Nord/Wannsee      41806
1    1010                  Marzahn      38041
2    1240            Grüner Norden      37651
3     110                  Zentrum      30137
4     510     Spandau Mitte / Nord      28415

In [22]:
df_8 = pd.read_csv("../data/csv/populationBerlin2024.csv")

df_8.head()

   pgr_id              pgr_name  population
0     810              Neukölln      162700
1     110               Zentrum      124331
2    1010               Marzahn      118714
3     450   Wilmersdorf Zentrum      118420
4     510  Spandau Mitte / Nord      112355

In [23]:
df_9 = pd.read_csv("../data/csv/responseTimeEMS.csv")

df_9.head()

,pgr_id,pgr_name,response_time_ems_critical_mean,response_time_ems_critical_std,response_time_fire_time_to_first_pump_mean,response_time_fire_time_to_first_pump_std
0,930,Treptow-Köpenick 3,12.961111,3.774444,12.027778,2.045556
1,1040,Kaulsdorf/Mahlsdorf,12.495714,3.484286,11.028571,2.247143
2,320,Nördliches Pankow,11.981429,3.687143,10.430000,2.246667
3,1240,Grüner Norden,11.860000,3.890000,12.617500,3.547500
4,760,Marienfelde / Lichtenrade,11.756154,3.710769,11.455385,2.894545

In [27]:
df_10 = pd.read_csv("../data/csv/solarPotential.csv")

df_10.head()

    pgr_id                          pgr_name  total_anual_yield_gwh
0      110                           Zentrum                    303
1      760         Marienfelde / Lichtenrade                    279
2      510              Spandau Mitte / Nord                    233
3      520            Wilhelmstadt / Staaken                    227
4      810                          Neukölln                    220
5      920                Treptow-Köpenick 2                    217
6      630  Zehlendorf Süd/Lichterfelde West                    214
7     1010                           Marzahn                    204
8      740                         Tempelhof                    201
9      430            Charlottenburg Zentrum                    194
10     450               Wilmersdorf Zentrum                    193
11    1040               Kaulsdorf/Mahlsdorf                    190
12     640           Zehlendorf Nord/Wannsee                    186
13     820                      Britz/Buckow                    178
14     120                            Moabit                    176
15     620         Lankwitz/Lichterfelde Ost                    166
16     530         Haselhorst / Siemensstadt                    165
17    1250              Wittenau/Borsigwalde                    165
18    1220                             Tegel                    163
19     930                Treptow-Köpenick 3                    161
20     340                  Südliches Pankow                    158
21    1130                  Lichtenberg Nord                    155
22     950                Treptow-Köpenick 5                    151
23     840                 Buckow Nord/Rudow                    149
24     320                 Nördliches Pankow                    148
25    1240                     Grüner Norden                    147
26     360        Nördlicher Prenzlauer Berg                    143
27     140                           Wedding                    136
28     750                        Mariendorf                    133
29    1120              Hohenschönhausen Süd                    130
30     910                Treptow-Köpenick 1                    129
31     420               Charlottenburg West                    128
32    1210                 Reinickendorf Ost                    126
33     350               Südliches Weißensee                    125
34     330              Nördliches Weißensee                    122
35     440                   Wilmersdorf Süd                    110
36     610                          Steglitz                    109
37     130                     Gesundbrunnen                    101
38    1030                          Biesdorf                    100
39     250                Friedrichshain Ost                     98
40     220                     Kreuzberg Süd                     98
41    1140                 Lichtenberg Mitte                     96
42    1020                       Hellersdorf                     94
43     940                Treptow-Köpenick 4                     81
44    1110             Hohenschönhausen Nord                     81
45    1150                   Lichtenberg Süd                     81
46     720                    Schöneberg Süd                     80
47    1260                Märkisches Viertel                     73
48     730                         Friedenau                     72
49     370         Südlicher Prenzlauer Berg                     72
50     240               Friedrichshain West                     71
51     540                    Gatow / Kladow                     71
52     710                   Schöneberg Nord                     65
53     230                     Kreuzberg Ost                     62
54     210                    Kreuzberg Nord                     57
55     310                              Buch                     56
56     410               Charlottenburg Nord                     42
57     830                      Gropiusstadt                     38

In [28]:
"""
------------------------------------------------------------------------------
Merge
------------------------------------------------------------------------------
"""

dfs = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10]

merged_df = dfs[0] 
#merge loop
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on=["pgr_id", "pgr_name"], how="outer")

merged_df.head()

,pgr_id,pgr_name,area_km2,mean_no2,mean_pm25,max_ageGroup,totalBuildings,max_ageGroupPercent,cannabisFreeArea_m2,cannabisFreeArea_perc,...,unique_m_streets,unique_streets_count,fStreets_percent,treeCount,population,response_time_ems_critical_mean,response_time_ems_critical_std,response_time_fire_time_to_first_pump_mean,response_time_fire_time_to_first_pump_std,total_anual_yield_gwh
0,110,Zentrum,15.84,18.56,11.13,"('x_bis_1900', 1391)",4225,32.9,6299810,39.8,...,166,215,22.8,30137,124331,9.565000,3.223750,9.673125,1.981875,303
1,120,Moabit,8.22,18.63,11.02,"('x_bis_1900', 885)",2920,30.3,4037117,49.1,...,63,85,25.9,10307,89877,9.706154,3.130769,9.370000,2.480000,176
2,130,Gesundbrunnen,5.68,16.96,11.36,"('x_bis_1900', 441)",2587,17.0,4251517,74.8,...,36,38,5.3,8459,78592,10.094286,3.271429,9.698571,2.581429,101
3,140,Wedding,9.63,16.68,10.99,"('x1901_1910', 835)",3873,21.6,4960491,51.5,...,39,40,2.5,14180,102856,9.651538,3.403077,9.246154,2.373077,136
4,210,Kreuzberg Nord,2.94,17.69,11.37,"('x1971_1980', 219)",1039,21.1,2258290,76.8,...,36,41,12.2,5863,41369,9.321667,3.090000,9.045000,2.540000,57

In [29]:
#csv
merged_df.to_csv("../data/csv/supertrumpf.csv", index=False)